#tout{
    border: 1px solid black;
    width:auto;
    height: 1000px;
}
#entete{
    background: #ddd;
    border: 1px solid black;
    height: 100px;
}
#corps{
    border: 0px solid black;
    height: 800px;
}
#menu{
    border: 0px solid black;
    height: 50px;
}

#form1{
    border: 0px solid black;
    width: 1000px;
    height: 500px;
    margin: auto;
}
#form1 tr td{
    font-family: serif;
    font-size: 1.5em;
}
ul li a{
    font-family: serif;
    font-size: 2em;
}
input{width:620px;}
select{width:620px;}
body{
    background: rgb(44,46,67);
}





















/* Général ------------------------------------------------------------------------------------- */
body, p, legend, label, input {
font: normal 8pt verdana, helvetica, sans-serif;
}
/* Forms --------------------------------------------------------------------------------------- */
fieldset {
padding: 10px;
border: 0px #0568CD solid;
margin: 10px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
color: #c00;
}
.erreur {
color: #900;
}
.succes {
color: #090;
}
.info {
font-style: italic;
color: #E8A22B;
}
/* Blocs constituants -------------------------------------------------------------------------- */

/* Tableaux -------------------------------------------------------------------------------------*/
table{
border-collapse: collapse;
}
tr.pair{
background-color: #efefef;
}
tr.impair{
background-color: #fff;
}
th{
color: #0568CD;
border: 0px solid #0568CD;
padding: 5px;
}
th.action{
border: 0px solid #900;
color: #900;
}
td{
border: 0px solid #ddd;
padding: 5px;
}
td.action{
text-align: center;
}
